{% extends 'technical_analysis/technical_analysis_base.html' %}

{% load static %}

{% block title %}Stock Market Learning - Landing Page{% endblock %}

{% block content %}
    <div class="min-h-screen w-full flex justify-center items-center p-0">
        <div class="bg-white bg-opacity-90 rounded-lg p-8 shadow-xl text-gray-800 w-full max-w-5xl">
            <h1 class="text-4xl font-bold mb-4 text-blue-600 text-center">Welcome to Stock Market Learning</h1>
            <p class="mb-6 text-lg text-center">Explore the essentials of stock market trading and technical analysis step by step!</p>

            <!-- Slideshow container -->
            <div class="flex justify-center mt-6">
                <div id="slideshow" class="relative w-650">
                    <img src="{% static 'imgs/landing_image_1.jpg' %}" alt="Stock Market 1" class="slide rounded-lg shadow-lg" style="display: block; height: auto; width: 500px;">
                    <img src="{% static 'imgs/landing_image_2.jpg' %}" alt="Stock Market 2" class="slide rounded-lg shadow-lg" style="display: none; height: auto; width: 500px;">
                    <img src="{% static 'imgs/landing_image_3.jpg' %}" alt="Stock Market 3" class="slide rounded-lg shadow-lg" style="display: none; height: auto; width: 500px;">
                </div>
            </div>

            <script>
                let slideIndex = 0;
                const slides = document.getElementsByClassName("slide");

                function showSlides() {
                    for (let i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";  // Hide all slides
                    }
                    slideIndex++;
                    if (slideIndex > slides.length) {slideIndex = 1} // Reset to the first slide
                    slides[slideIndex - 1].style.display = "block";  // Show the current slide
                    setTimeout(showSlides, 3000); // Change image every 3 seconds
                }

                showSlides(); // Initialize the slideshow
            </script>

            <div class="flex justify-center mt-8">
                <a href="{% url 'slide_stock_market' %}" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 shadow-md">Start Learning</a>
            </div>
        </div>
    </div>
{% endblock %}
