{% extends 'technical_analysis/technical_analysis_base.html' %}

{% load static %}

{% block title %}Technical Analysis - Trendlines{% endblock %}

{% block content %}
    <div class="min-h-screen w-full flex justify-center items-center p-0">
        <div class="bg-white bg-opacity-90 rounded-lg p-8 shadow-xl text-gray-800 w-full max-w-5xl">
            <h2 class="text-3xl font-bold mb-4 text-blue-600">Understanding Trendlines</h2>

            <!-- What are Trendlines Section -->
            <h3 class="text-2xl font-bold mb-2">What are Trendlines?</h3>
            <p class="mb-6 text-lg">
                Trendlines are linear connections drawn between two or more price points on a chart, serving to pinpoint and validate trends. They connect the swing highs and swing lows in a trending market.
            </p>
            <!-- <div class="flex justify-center mt-6">
                <img src="{% static 'imgs/trendline.png' %}" alt="Trendline Example" class="rounded-lg shadow-lg transition-transform transform hover:scale-105 duration-300">
            </div> -->

            <!-- What does a Trending Market look like Section -->
            <h3 class="text-2xl font-bold mb-4 mt-8">What does a Trending Market look like?</h3>
            <p class="mb-6 text-lg">
                An uptrending market is characterized by the formation of higher tops and higher bottoms. A downtrending market is characterized by the formation of lower tops and lower bottoms.
            </p>
            <div class="flex justify-center mt-6">
                <img src="{% static 'imgs/trendline_1.png' %}" alt="Trending Market Example" class="rounded-lg shadow-lg transition-transform transform hover:scale-105 duration-300">
            </div>

            <!-- Why do we use Trendlines Section -->
            <h3 class="text-2xl font-bold mb-4 mt-8">Why do we use Trendlines?</h3>
            <p class="mb-6 text-lg">
                1. Trendlines act as a support and resistance.
            </p>
            <div class="grid grid-cols-2 gap-4">
                <img src="{% static 'imgs/trendline_2.png' %}" alt="Support & Resistance Example 1" class="rounded-lg shadow-lg transition-transform transform hover:scale-105 duration-300">
                <img src="{% static 'imgs/trendline_3.png' %}" alt="Support & Resistance Example 2" class="rounded-lg shadow-lg transition-transform transform hover:scale-105 duration-300">
            </div>

            <p class="mb-6 text-lg mt-6">
                2. Break of Trendlines can signal a possible trend change.
            </p>
            <div class="grid grid-cols-2 gap-4">
                <img src="{% static 'imgs/trendline_4.png' %}" alt="Trend Break Example 1" class="rounded-lg shadow-lg transition-transform transform hover:scale-105 duration-300">
                <img src="{% static 'imgs/trendline_5.png' %}" alt="Trend Break Example 2" class="rounded-lg shadow-lg transition-transform transform hover:scale-105 duration-300">
            </div>

            <!-- Back and Next buttons -->
            <div class="flex justify-between mt-8">
                <a href="javascript:history.back()" class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded transition duration-300">Back</a>
                <a href="{% url 'slide_indicators' %}" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300">Next: Indicators</a>
            </div>
        </div>
    </div>
{% endblock %}
